<div class="container">
  <div id="user_nav">
    <p>
      <span class={{state1}}>
        Logged in as {{user.email}}.
        <a href="users/edit">Edit Profile</a> |
        <a href="users/sign_out" id="logout">Logout</a>
      </span>
      <span class={{state2}}>
        <a href="users/sign_in">Log in</a> |
        <a href="users/sign_up">Sign up</a>
      </span>
    </p>
  </div>
  <h1>Books</h1>
  <input id="search" type="text" ng-model="query"/>
  <select ng-model="orderProp">
    <option value="title">Title</option>
    <option value="author.last_name">Author</option>
  </select>
  <ul>
    <li ng-repeat="book in books | filter:query | orderBy:orderProp" class="book">
      <div class="info">
        <div>
          <img src={{book.s_thumb}}/>
        </div>
        <a href="#/books/{{book.id}}">{{book.title}}</a>
        <p>By<a href="#/authors/{{book.author.id}}"> {{book.author.first_name}} {{book.author.last_name}}</a></p>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $logout = $("#logout");
    $logout.on("click", function(e) {
      e.preventDefault();
      console.log("hey!");
    });
  });
</script>