<div class="container">
  <h1>Books</h1>
  <input id="search" type="text" ng-model="query"/>
  <select ng-model="orderProp">
    <option value="title">Title</option>
    <option value="author.last_name">Author</option>
  </select>
  <ul>
    <li ng-repeat="book in books | filter:query | orderBy:orderProp" class="book">
      <div class="info">
        <div>
          <img src={{book.book.s_thumb}}/>
        </div>
        <a href="#/books/{{book.id}}">{{book.book.title}}</a>
        <p>By<a href="#/authors/{{book.author.id}}"> {{book.book.author.first_name}} {{book.book.author.last_name}}</a></p>
      </div>
    </li>
    <li>{{books}}</li>
  </ul>
</div>